<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Webformat test base page{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

</head>
<body>
  {% bootstrap_messages %}
  <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
</html>