<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webformat test</title>
</head>
<body>
  <h1>Ticketing system</h1>
  <div>
    <a href="/teams">Teams</a>
  </div>
  <div>
    <a href="/projects">Projects</a>
  </div>
  {% if user.role == 3 %}
  <div>
    <a href="/tasks">Tasks</a>
  </div>
  {% endif %}
  {% if user.role != 3 %}
  <div>
    <a href="/employees">Employees</a>
  </div>
  {% endif %}
  <div>
    <a href="/logout">Logout</a>
  </div>
</body>
</html>