{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}

  <a href="/teams">Torna indietro</a>
  <h2>Team {{ team.name }}</h2>
  <form action="" method="post">{% csrf_token %}
    <p>
      <label for="id_name">Name:</label>
      <input type="text" name="name" maxlength="30" required="" id="id_name" value="{{ team.name }}">
    </p>
    <p>
      <label for="id_description">Description:</label>
      <textarea name="description" cols="40" rows="10" required="" id="id_description">{{ team.description }}</textarea>
    </p>
  <div>Componenti:</div>
  <table class="table">
    <thead>
      <tr>
        <th>Role</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Add to team</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in developers %}
        <tr>
          <td>{{ employee.get_role_name }}</td>
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.last_name }}</td>
          {% if user.role == 1 %}
          <td>
            <input type="checkbox" name="developer" value="{{ employee.id }}" {% if employee in team.members.all %} checked {% endif %}>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% if user.role == 1 %}
  <input type="submit" value="Modifica team">
  {% endif %}
  </form>
{% endblock %}