{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}

<a href="/">Home</a>

<h2>Teams</h2>
{% if user.role == 1 %}
<a href="/teams/new">Crea un nuovo team</a>
</br></br>
{% endif %}
{% for team in teams %}
<div style="border: 1px solid black;">
  <h3 style="border-bottom: 1px solid gray;">{{ team.name }}</h3>
  {% for member in team.members.all %}
    <p>{{ member }}</p>
  {% endfor %}
  <form action="/teams/{{ team.id }}" method="get">
    <input type="submit" value="Dettaglio">
  </form>
</div>
{% endfor %}

{% endblock %}