{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}
<a href="/teams">Torna indietro</a>
<h2>New team</h2>
<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <table>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Add</th>
    </tr>
    {% for dev in developers %}
    <tr>
      <td>{{ dev.first_name }}</td>
      <td>{{ dev.last_name }}</td>
      <td><input type="checkbox" name="developer" value="{{ dev.id }}"></td>
    </tr>
    {% endfor %}
  </table>

  <input type="submit" value="Crea">
</form>
{% endblock %}