{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}

  <a href="/teams">Torna indietro</a>
  <h2>Team {{ team.name }}</h2>
  <div>Componenti:</div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Role</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in team.members.all %}
        <tr>
          <td>{{ employee.get_role_name }}</td>
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.last_name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% if user.role == 1 %}
  <a href="/teams/{{ team.id }}/edit">Modifica team</a>
  <br><br>
  <a href="/teams/{{ team.id }}/delete">Elimina team</a>
{% endif %}
{% endblock %}