{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}

  <a href="/projects">Torna indietro</a>
  <h2>Task {{ task.description }}</h2>
  <div>Assegnati:</div>
  <form action="" method="post">{% csrf_token %}
    <p>
      <label for="id_name">Name:</label>
      <input type="text" name="description" maxlength="100" required="" id="id_description" value="{{ task.description }}">
    </p>
    <!-- <p>
      <label for="id_deadline">Deadline:</label>
      <input type="date" name="deadline" id="id_deadline" value="{{ task.deadline }}">
    </p> -->
    <label for="id_status">Status:</label>
    <select name="status" id="id_status">
      <option value="1">TO_DO</option>
      <option value="2">IN_PROGRESS</option>
      <option value="3">STAGE</option>
      <option value="4">DONE</option>
    </select>
    <table class="table">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in developers %}
          <tr>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>
              <input type="checkbox" name="developer" value="{{ employee.id }}" {% if employee in task.assignees.all %} checked {% endif %}>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="Modifica">
  </form>
{% if user.role == 1 %}
  <a href="/teams/{{ team.id }}/edit">Modifica team</a>
  <br><br>
  <a href="/teams/{{ team.id }}/delete">Elimina team</a>
{% endif %}
{% endblock %}