{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}

  <a href="/">home</a>

  <h4>Tasks:</h4>

  <table class="table">
    <tr>
      <th>Description</th>
      <th>Project</th>
      <th>Status</th>
      <th>Deadline</th>
      <th>Commits</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.description }}</td>
      <td>{{ task.project.name }}</td>
      <td>{{ task.get_status_name }}</td>
      <td>{{ task.deadline }}</td>
      <td>
        <form action="{{ task.id }}/commits" method="get">
          <input type="submit" value="Dettagli">
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}