{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}

  <a href="/tasks">Torna indietro</a>

  <h4>Tasks:</h4>

  <table class="table">
    <tr>
      <th>Description</th>
      <th>Project</th>
      <th>Status</th>
      <th>Deadline</th>
    </tr>
    <tr>
      <td>{{ task.description }}</td>
      <td>{{ task.project.name }}</td>
      <td>{{ task.get_status_name }}</td>
      <td>{{ task.deadline }}</td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <th>Author</th>
      <th>Message</th>
    </tr>
    {% for commit in commits %}
    <tr>
      <td>{{ commit.creator.first_name }} {{ commit.creator.last_name }}</td>
      <td>{{ commit.note }}</td>
    </tr>
    {% endfor %}
  </table>

  <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="comment" id="id_comment" placeholder="Messaggio...">
    <input type="submit" value="Commenta">
  </form>

{% endblock %}