{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}

  <a href="/projects">Torna indietro</a>
  <h2>Progetto {{ project.name }}</h2>
  <form action="" method="post">{% csrf_token %}
    <p>
      <label for="id_name">Name:</label>
      <input type="text" name="name" maxlength="30" required="" id="id_name" value="{{ project.name }}">
    </p>
    <p>
      <label for="id_description">Description:</label>
      <textarea name="description" cols="40" rows="10" required="" id="id_description">{{ project.description }}</textarea>
    </p>
    <label for="pm">Pm:</label>
    <select name="pm" required="" id="id_pm">
      {% for pm in pms %}
        <option value="{{ pm.id }}" {% if project.pm == pm %} selected {% endif %} >{{ pm }}</option>
      {% endfor %}
    </select>
  {% if user.role == 1 %}
  <input type="submit" value="Modifica progetto">
  {% endif %}
  </form>
{% endblock %}