{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}

<a href="/">Home</a>

<h2>Projects</h2>

{% if user.role == 1 %}
<a href="/projects/new">Crea un nuovo Progetto</a>
</br></br>
{% endif %}
{% for project in projects %}
<div style="border: 1px solid black;">
  <h3 style="border-bottom: 1px solid gray;">{{ project.name }}</h3>
  <p>{{ project.description }}</p>
  <form action="/projects/{{ project.id }}" method="get">
    <input type="submit" value="Dettaglio">
  </form>
</div>
{% endfor %}

{% endblock %}