{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<a href="/projects">Torna indietro</a>
<h2>New project</h2>
<form action="" method="post">
  {% csrf_token %}
  <label for="pm">Pm:</label>
  <select name="pm" required="" id="id_pm">
    <option value="" selected="">---------</option>
    {% for pm in pms %}
      <option value="{{ pm.id }}">{{ pm }}</option>
    {% endfor %}
  </select>
  <br><br>
  {{ form.as_p }}
  <input type="submit" value="Crea">
</form>
{% endblock %}