{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}

  <a href="/projects">Torna indietro</a>
  <h2>Progetto {{ project.name }}</h2>
  <h4>Descrizione:</h4>
  <p>
    {{ project.description }}
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Deadline</th>
        {% if user.role == 1 %}
        <th>Details</th>
        <th>Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.description }}</td>
          <td>{{ task.get_status_name }}</td>
          <td>{{ task.deadline }}</td>
          {% if user.role == 1 %}
          <td>
            <form action="/tasks/{{ task.id }}" method="get">{% csrf_token %}
              <input type="submit" value="Dettagli">
            </form>
          </td>
          <td>
            <form action="{{ project.id }}/delete_task" method="post">{% csrf_token %}
              <input type="hidden" name="task_id", value="{{ task.id }}">
              <input type="submit" value="Elimina">
            </form>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% if user.role == 2 %}
<div>Nuovo task:</div>
<form action="{{ project.id }}/create_task" method="post">
  {% csrf_token %}
  {{ task_form.as_p }}
  <input type="date" name="deadline" id="id_deadline">
  <table>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Add</th>
    </tr>
    {% for dev in developers %}
    <tr>
      <td>{{ dev.first_name }}</td>
      <td>{{ dev.last_name }}</td>
      <td><input type="checkbox" name="developer" value="{{ dev.id }}"></td>
    </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Crea">
</form>
{% endif %}
{% if user.role == 1 %}
  <a href="/projects/{{ project.id }}/edit">Modifica progetto</a>
  <br><br>
  <a href="/projects/{{ project.id }}/delete">Elimina progetto</a>
{% endif %}
{% endblock %}