{% extends "base.html" %}

{% block title %}Employees{% endblock %}

{% block content %}

<a href="/">Home</a>

<h2>Employees</h2>

<a href="accounts/signup/">Assumi un nuovo dipendente</a>
</br></br>
<p>
  Dipendenti:
</p>
<table class="table">
  <thead>
    <tr>
      <th>Role</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
      <tr>
        <td>{{ employee.get_role_name }}</td>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>
          <form action="/employees/{{ employee.id }}" method="get">
            <input type="submit" value="Dettaglio">
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}