{% extends "base.html" %}

{% block title %}Employees{% endblock %}

{% block content %}

<a href="/employees">Torna indietro</a>

<h2>{{ employee.get_role_name }} {{ employee.first_name }} {{ employee.last_name }}</h2>

<h4>Task in progress:</h4>

<table class="table">
  <tr>
    <th>Description</th>
    <th>Deadline</th>
    <th>Project</th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{ task.description }}</td>
    <td>{{ task.deadline }}</td>
    <td>{{ task.project }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}